@model ProductCommentViewModel

<hr class="my-0" />
<form asp-action="NewComment" asp-controller="Product" method="post">
    <div class="form-group">
        <input type="hidden" class="form-control" asp-for="@Model.Comment.ProductId" value="@Model.Product.ProductID" />
    </div>
    <div class="form-group">
        <label class="m-3" asp-for="@Model.Comment.Text"><h5>New Comment</h5></label>
        <textarea id="editor"  class="form-control" asp-for="@Model.Comment.Text"  rows="2" required></textarea>

    </div>
    <p><input class="btn btn-dark m-2" type="submit" value="Submit"></p>
</form>
<script>
    CKEDITOR.replace('editor',{
      removeButtons: 'PasteFromWord'
    });
</script>