@model SportsStore.Models.ViewModels.ProductsListViewModel;
<div class="row row-cols-1 row-cols-md-2 g-4">
      @foreach (var p in Model?.Products ?? Enumerable.Empty<Product>()) {
            <partial name="ProductSummary" model="p" />
      }
</div>

<div page-model="@Model?.PagingInfo" page-action="Index" page-classes-enabled="true"
 page-class="btn" page-class-normal="btn-outline-dark"
 page-class-selected="btn-dark" page-url-category="@Model?.CurrentCategory!"
 page-class-selected="btn-dark" class="btn-group pull-right m-1">
</div>
@section Category {
 <div class="row mx-1 mt-4 p-1">
             <vc:category-menu />
       </div>
}